:root {
  --accent: #ffb703;
  --accent2: #219ebc;
  --muted: #6b7280;
  --bg: #f7faff;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: var(--bg);
  color: #111;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}

.btn {
  display: inline-block;
  padding: 12px 22px;
  border-radius: 10px;
  background: var(--accent);
  color: #000;
  font-weight: 600;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.btn:hover {
  transform: translateY(-3px);
  background: var(--accent2);
  color: #fff;
}
